<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Spencer</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.ProgramAccessControlActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Adds link to gutter -->
	<extension>
	    <point>org.openmrs.gutter.tools</point>
	    <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.GutterListExt</class>
	</extension>
	
	
	<!-- Advisors -->
	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>@MODULE_PACKAGE@.api.advice.PatientServiceAdvisor</class>
	</advice>
	
	<advice>
		<point>org.openmrs.api.ProgramWorkflowService</point>
		<class>@MODULE_PACKAGE@.api.advice.ProgramWorkflowServiceAdvice</class>
	</advice>
	
	<advice>
		<point>org.openmrs.api.UserService</point>
		<class>@MODULE_PACKAGE@.api.advice.UserServiceAdvice</class>
	</advice>
	
	<privilege>
		<name>Manage Role Program</name>
		<description>Able to manage and configure role program access controls</description>
	</privilege>
	
	<privilege>
		<name>View Role Program</name>
		<description>Able to view role program access controls</description>
	</privilege>
	
	<privilege>
		<name>Manage Role Patient</name>
		<description>Able to manage and configure role patient access controls</description>
	</privilege>
	
	<privilege>
		<name>View Role Patient</name>
		<description>Able to view role patient access controls</description>
	</privilege>
	
	<dwr>
        <allow>
            <create creator="new" javascript="DWRPatientListService">
                <param name="class" value="@MODULE_PACKAGE@.web.dwr.DWRPatientListService"/>
                <include method="listPatients"/>
                <include method="listCountAndPatients"/>                
            </create>
        </allow>
 
        <signatures>
            <![CDATA[
            import @MODULE_PACKAGE@.web.dwr.DWRPatientListService;
            DWRPatientListService.listBatchOfPatients(String searchValue, boolean includeVoided, Integer start, Integer length);
			DWRPatientListService.listPatients(String searchValue, boolean includeVoided);
			DWRPatientListService.listCountAndPatients(String searchValue, Integer start, Integer length, boolean getMatchCount);
            ]]>
        </signatures>
    </dwr>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>				
		ProgramAccessControl.hbm.xml				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

