table #patientReferral, #patientReferralTable {
	width: 100%;
}

table tr .patientReferralRow {
	width: 100%;
}

table td #patientReferralUser {
	width: 35%;
}

table td #patientReferralSave {
	width: 65%;
}

table td #patientReferralUser input {
	width: 70%;
	max-width: 300px;
}